.App {
  font-family: sans-serif;
  margin-top: 20px;
}

.title h1 {
  color: rgb(53, 63, 82);
  font-weight: 900;
  font-size: 26px;
}

th {
  color: rgb(103, 113, 133);
  font-size: 14px;
}
td {
  font-size: 14px;
}
.page-item.disabled .page-link {
  background-color: #ccc;
}

.loading {
  position: absolute;
  left: 50%;
  top: 30%;
}
.title{
  margin: 20px 0 ;

}